:root {
  --secondary-text: 'Kalam', sans-serif;
  --tertiary-text: 'Megrim', sans-serif;
  --dark-color: #0f1044;
  --blue-color: #1919f7;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

section {
  padding: 75px 30px 20px;
}

.desktop {
  display: none;
}

.section-title {
  font-size: 50px;
  font-family: var(--secondary-text);
  font-weight: 400;
}

.btn {
  cursor: pointer;
  position: relative;
  background-color: #000;
  border-radius: 50px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  color: #000;
  background-color: transparent;
}

.btn:before,
.btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 20px;
  height: 2px;
  width: 0;
  background: #000;
  transition: 0.4s ease-in-out;
}

.btn:after {
  right: inherit;
  top: inherit;
  left: 20px;
  bottom: 0;
}

.btn:hover:before,
.btn:hover:after {
  width: calc(100% - 40px);
  /* width: 85%; */
  transition: 0.8s ease-in-out;
}

/* Nav */
.mobile-nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.mobile-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav ul li {
  margin: 0;
}

.mobile-nav .nav-left {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
}

.mobile-nav .nav-right {
  display: block;
  width: 50px;
  height: 50px;
}

.mobile-nav .nav-right span {
  position: absolute;
  width: 50px;
  height: 4px;
  margin: 10px 0;
  background-color: #000;
  transition: all 0.5s ease-in-out;
}

.mobile-nav .nav-right .middle {
  transform: translateY(15px);
}

.mobile-nav .nav-right .bottom {
  transform: translateY(30px);
}

.open {
  transition: all 0.2s ease-in-out;
  transition-delay: 1s;
  transform: rotate(45deg) translateY(5px) translateX(-5px);
}

.open .middle {
  width: 0px !important;
}

.open .top,
.open .bottom {
  transition-delay: 0.3s !important;
}

.open .top {
  transform: translateY(1px);
}

.open .bottom {
  transform: rotate(-90deg) translateY(-1px) !important;
}

.hamburger-menu {
  opacity: 0;
  z-index: 11;
  position: fixed;
  top: 70px;
  right: 30px;
  background-color: #fff;
  width: auto;
  height: auto;
  padding: 30px;
  border: 2px solid #000;
  border-radius: 15px;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.9, 1, 0.22, 1);
  transition: all 0.5s ease-in-out;
}

.hamburger-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
}

.hamburger-menu li {
  font-size: 30px;
  text-align: right;
  width: 100%;
  padding-bottom: 10px;
}

.hamburger-menu li a {
  font-family: var(--secondary-text);
  font-weight: 300;
}

.open-menu {
  opacity: 1;
  transform: translateX(0);
}

.fa-sun,
.light-icon {
  display: none !important;
}

/* Hero */
.hero {
  display: flex;
  padding: 106px 30px 0;
}

.hero-left {
  text-align: center;
}

.hero-left h1 {
  font-family: var(--secondary-text);
  font-size: 90px;
  font-weight: 400;
  line-height: 90px;
}

.hero-left p {
  padding: 20px 0;
  text-align: left;
  font-size: 20px;
}

/* Skills */
#skills p {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icons img {
  height: 75px;
}

/* Projects */
.projects {
  display: flex;
  gap: 8px;
  padding: 0 16px 16px 0;
  overflow-x: scroll;
}

.project {
  position: relative;
  flex-shrink: 0;
  width: 95%;
}

.project-title {
  z-index: 2;
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: #fff;
  font-size: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
  background-color: rgba(0, 0, 0, 0.5);
}

.project img {
  width: 100%;
}

/* Contact */
.contact h3 {
  font-size: 25px;
}

.contact img {
  width: 48px;
  padding-top: 10px;
  padding-right: 10px;
}

.contact-right {
  padding-top: 22px;
}

input,
textarea {
  width: 100%;
  height: 75px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border: solid 1px #000;
  border-radius: 15px;
  font-size: 25px;
}

textarea {
  height: 200px;
}

button {
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 50px;
  border: none;
}

/* Footer */
footer {
  padding: 20px 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

footer span {
  color: #999;
}

footer span:hover {
  color: #498c94;
}

@media (min-width: 961px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  section,
  .desktop-nav {
    max-width: 1440px;
  }

  .section-title {
    font-size: 90px;
  }

  /* Nav */
  .desktop-nav {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    padding: 30px 20px 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .desktop-nav a:hover,
  .desktop-nav i:hover {
    color: var(--blue-color);
  }

  .desktop-nav .nav-left {
    margin-left: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .desktop-nav .nav-right {
    display: flex;
    gap: 50px;
    margin-right: 0;
    font-size: 20px;
  }

  .nav-right i {
    cursor: pointer;
  }

  /* Hero */
  .hero {
    padding: 175px 20px 100px;
  }

  .hero-left {
    width: 40%;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }

  .hero-left h1 {
    font-size: 125px;
    line-height: 125px;
  }

  .hero-left p {
    font-size: 25px;
    padding-bottom: 25px;
  }

  .hero-right {
    width: 40%;
    margin-right: 0;
  }

  .hero-right h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }

  /* Skills */
  #skills p {
    font-size: 40px;
  }

  .icons img {
    height: 125px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
  }

  .icons img:hover {
    filter: grayscale(0%);
  }

  /* Contact */
  .form-contact input,
  .form-contact textarea {
    border-width: 2px;
  }
}
